roms/994agrom.mem
roms/994arom.mem
roms/minimemc.mem
roms/minimemg.mem
next9900.asc
next9900.bin
next9900.blif
next9900.json
kbd.xmd
kbd.cmd
load.cmd
Makefile.bak
top_ulx3s.v.bak
ulx3s.lpf.bak
debugcart/VDPLOAD.bin
debugcart/dump0.bin
debugcart/dump1.bin
debugcart/dump2.bin
debugcart/dump3.bin
debugcart/dump4.bin
debugcart/dump4_.bin
debugcart/dumploac.bin
debugcart/dumpload-1c.bin
debugcart/vdpload0.bin
ti994a_ulx3s.json
ti994a_ulx3s_out.cfg
src/tms9918_tb
src/tms9918_test.gtkw
debugcart/layout.xml
debugcart/meta-inf.xml
.DS_Store
bitstreams
src/sim-tms9918_tb.lxt
roms/994AGROM.Bin
roms/994aROM.Bin
debugcart/vdp9938.lst
debugcart/vdp9938.rpk
debugcart/vdpload.lst
debugcart/vdpload.rpk
